
[submodule "Forking-Around/Mandatory-Forking/wordpress-develop"]
	path = Forking-Around/Mandatory-Forking/wordpress-develop
	url = https://github.com/WordPress/wordpress-develop.git
[submodule "Forking-Around/Mandatory-Forking/wordpress"]
	path = Forking-Around/Mandatory-Forking/wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "Forking-Around/Mandatory-Forking/gutenberg"]
	path = Forking-Around/Mandatory-Forking/gutenberg
	url = https://github.com/WordPress/gutenberg.git
