
[submodule "Forking-Around/Mandatory-Forking/wordpress-develop"]
	path = Forking-Around/Mandatory-Forking/wordpress-develop
	url = https://github.com/WordPress/wordpress-develop.git
[submodule "Forking-Around/Mandatory-Forking/wordpress"]
	path = Forking-Around/Mandatory-Forking/wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "Forking-Around/Mandatory-Forking/gutenberg"]
	path = Forking-Around/Mandatory-Forking/gutenberg
	url = https://github.com/WordPress/gutenberg.git
[submodule "Forking-Around/Mandatory-Forking/woocommerce"]
	path = Forking-Around/Mandatory-Forking/woocommerce
	url = https://github.com/woocommerce/woocommerce.git
[submodule "Forking-Around/Mandatory-Forking/woocommerce-blocks"]
	path = Forking-Around/Mandatory-Forking/woocommerce-blocks
	url = https://github.com/woocommerce/woocommerce-blocks.git
